:root {
  --background-color: #fbfafe;
  --text-color: black;
  --text-subtitle-color: black;
  --button-bg-color: #7d5260;
  --button-text-color: white;
  --button-bg-color-hover: #b3261e;
  --paper-bg-color: #ffffff;
  --table-header-row: #f2b8b5;
  --table-data-system: #f2b8b5;
  --table-header-row-user: #ccc2dc;
  --table-header-difference: #7d5260;
  --table-header-advice: #fbfbfe;
  --header-color: black;
  --key-bg-color: #fbfafe;
}

[data-theme="dark"] {
  --background-color: #1c1a27;
  --text-color: white;
  --text-subtitle-color: white;
  --button-bg-color: #fdfcfe;
  --button-bg-color-hover: #ccc2dc;
  --button-text-color: black;
  --paper-bg-color: #312f3b;
  --header-color: white;
  --select-background-color: #585560;
  --key-bg-color: #84828b;
  --table-color: #84828b;
  --table-header-row: #f2b8b5;
  --table-data-system: #f2b8b5;
  --table-header-row-user: #ccc2dc;
  --table-header-difference: #1c1a27;
  --table-header-advice: #919097;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  margin-bottom: 2rem;
  /* Add any other App-wide styles here */
}

.header {
  background-color: var(--background-color);
  color: var(--text-color);
  /* Define other header styles as needed */
}

.mainPage {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 70px;
}

.button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: 25px;
  width: "170px";
  height: "40px";
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: none;
  &:hover {
    background-color: var(--button-bg-color-hover);
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
      0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  }
}

.budget {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light {
  background-color: #fbfafe;
}

.dark {
  background-color: #1c1a27;
}
